<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>File Enkripsi</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.sheetjs.com/xlsx-latest/package/dist/xlsx.full.min.js"></script>
    <style>
        @keyframes gradientBG {
            0% {
                background-position: 0% 50%;
            }

            50% {
                background-position: 100% 50%;
            }

            100% {
                background-position: 0% 50%;
            }
        }

        .animated-bg {
            background: linear-gradient(-45deg, #f08285, #330e04, #fad0c4, #ffdde1);
            background-size: 400% 400%;
            animation: gradientBG 10s ease infinite;
        }

        .radio-container {
            align-items: center;
            justify-content: center;
            display: flex;
            flex-wrap: wrap;
            gap: 10px;
        }

        .radio-label {
            background-color: #dcdcdc;
            padding: 10px 15px;
            border-radius: 10px;
            cursor: pointer;
            transition: all 0.3s ease;
            font-weight: 500;
        }

        .radio-label:hover,
        .radio-input:checked+.radio-label {
            background-color: #10ee83;
            color: rgb(0, 0, 0);
        }

        .radio-input {
            display: none;
        }

        #loading {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.5);
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            z-index: 9999;
            opacity: 0;
            transition: opacity 0.3s ease-in-out;
        }

        #loading:not(.hidden) {
            opacity: 1;
        }

        #loading.hidden {
            display: none;
        }

        #loadingText {
            text-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
        }
    </style>
</head>

<body class="animated-bg flex justify-center items-start min-h-screen py-10">
    <div id="loading" class="hidden">
        <svg class="animate-spin h-12 w-12 text-white" xmlns="http://www.w3.org/2000/svg" fill="none"
            viewBox="0 0 24 24">
            <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
            <path class="opacity-75" fill="currentColor" d="M4 12a8 8 0 018-8v4a4 4 0 00-4 4H4z"></path>
        </svg>
        <p id="loadingText" class="mt-4 text-white text-lg font-medium"></p>
    </div>

    <div class="w-full max-w-4xl flex flex-col items-center space-y-10">
        <!-- Form -->
        <div class="bg-gray-200 p-8 rounded-lg shadow-lg w-96">
            <h2 class="text-xl font-semibold text-center mb-4">File Enkripsi / Dekripsi</h2>
            <form action="/proses" method="POST" enctype="multipart/form-data" id="form">
                <label for=""> File:</label>
                <input type="file" name="file" class="w-full p-3 mb-3 bg-gray-300 rounded focus:outline-none" required>
                <p id="file-info" class="text-center text-sm text-gray-600 mt-1 mb-2"></p>
                <label for="">Pilih proses:</label>
                <select id="mode" name="mode" class="w-full p-3 mb-3 bg-gray-300 rounded focus:outline-none">
                    <option value="enkripsi">Enkripsi</option>
                    <option value="dekripsi">Dekripsi</option>
                </select>
                <p id="file-info" class="text-center text-sm text-gray-600 mt-1 mb-2"></p>
                <label for=""> Masukan kunci:</label>
                <input type="text" name="key" placeholder="Key"
                    class="w-full p-3 mb-3 bg-gray-300 rounded focus:outline-none" required>
                <div class="mb-5 mt-4">
                    <label class="block font-semibold mb-2 text-center">Pilih Algoritma </label>
                    <div class="radio-container">
                        <input type="radio" id="all_algoritma" name="algoritma" value="all_algoritma"
                            class="radio-input" required>
                        <label for="all_algoritma" class="radio-label">All Algoritma</label>
                        <input type="radio" id="aes_standard" name="algoritma" value="aes_standard" class="radio-input">
                        <label for="aes_standard" class="radio-label">AES Standar</label>
                        <input type="radio" id="chacha20" name="algoritma" value="Chacha20" class="radio-input">
                        <label for="chacha20" class="radio-label">Chacha20</label>
                        <input type="radio" id="aes_modified" name="algoritma" value="AES_Modified" class="radio-input">
                        <label for="aes_modified" class="radio-label">AES Modifikasi</label>
                        <input type="radio" id="mix" name="algoritma" value="Mix" class="radio-input">
                        <label for="mix" class="radio-label">AESM + Chacha20</label>
                    </div>
                </div>

                <button type="submit"
                    class="w-full p-3 bg-gray-500 text-white rounded hover:bg-gray-600">Proses</button>

                <!-- Note di bawah tombol -->
                <p class="text-xs text-gray-700 mt-3 text-center italic">
                    <span class="font-bold">Note:</span> Halaman ini akan menampilkan hasil performa dari seluruh
                    algoritma enkripsi dan dekripsi yang
                    tersedia, termasuk waktu, proses dan entropi. Proses enkripsi dan dekripsi langsung berjalan.
                </p>
            </form>
        </div>

        {% if file_size %}
        <div class="bg-gray-200 w-screen text-center mt-10 p-8 rounded-lg shadow-lg overflow-x-auto">
            <div>
                <h3 class="bg-white text-black font-bold px-6 py-2 rounded-2xl mb-8 inline-block text-xl shadow">
                    Hasil Analisis Semua Algoritma
                </h3>
            </div>

            <h3 class="bg-white mb-2 text-black font-bold px-6 py-2 rounded-2xl inline-block text-xl shadow">
                Enkripsi
            </h3>

            <!-- Grafik Enkripsi -->
            <div class="grid grid-cols-1 md:grid-cols-3 gap-6">
                <div class="w-full">
                    <canvas id="chartEntropy" class="bg-gray-100 rounded p-4 shadow-md w-full h-70"></canvas>
                </div>
                <div class="w-full">
                    <canvas id="waktu" class="bg-gray-100 rounded p-4 shadow-md w-full h-70"></canvas>
                </div>
                <div class="w-full">
                    <canvas id="chartSpeed" class="bg-gray-100 rounded p-4 shadow-md w-full h-70"></canvas>
                </div>
            </div>

            <h3 class="bg-white mb-2 mt-5 text-black font-bold px-6 py-2 rounded-2xl inline-block text-xl shadow">
                Dekripsi
            </h3>

            <!-- Grafik Dekripsi -->
            <div class="grid grid-cols-1 md:grid-cols-3 gap-6">
                <div class="w-full">
                    <canvas id="chartEntropyDecrypt" class="bg-gray-100 rounded p-4 shadow-md w-full h-70"></canvas>
                </div>
                <div class="w-full">
                    <canvas id="chartTimeDecrypt" class="bg-gray-100 rounded p-4 shadow-md w-full h-70"></canvas>
                </div>
                <div class="w-full">
                    <canvas id="chartSpeedDecrypt" class="bg-gray-100 rounded p-4 shadow-md w-full h-70"></canvas>
                </div>
            </div>

            <div class="w-full bg-white text-center mt-10 p-8 rounded-lg shadow-lg overflow-x-auto">

                <!-- Tabel Enkripsi -->
                <h3 class="text-lg font-semibold text-center mt-2">Data</h3>
                <h4 class="text-md font-semibold mt-4">Performa Enkripsi</h4>
                <div class="overflow-x-auto mt-2">
                    <table class="min-w-full border-collapse border border-gray-300 text-sm">
                        <thead>
                            <tr class="bg-gray-100">
                                <th class="border border-gray-300 p-2">Algoritma</th>
                                <th class="border border-gray-300 p-2">Entropi Sebelum</th>
                                <th class="border border-gray-300 p-2">Entropi Sesudah</th>
                                <th class="border border-gray-300 p-2">Waktu Enkripsi (detik)</th>
                                <th class="border border-gray-300 p-2">Kecepatan (KB/detik)</th>
                                <th class="border border-gray-300 p-2">Unduh</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for result in results %}
                            <tr>
                                <td class="border border-gray-300 p-2">{{ result.algoritma }}</td>
                                <td class="border border-gray-300 p-2">{{ result.entropy_before|round(3) }}</td>
                                <td class="border border-gray-300 p-2">{{ result.entropy_after|round(3) }}</td>
                                <td class="border border-gray-300 p-2">{{ result.execution_time|round(3) }}</td>
                                <td class="border border-gray-300 p-2">{{ result.speed|round(3) }}</td>
                                <td class="border border-gray-300 p-2 text-center">
                                    <a href="/download/{{ result.processed_filename }}"
                                        class="bg-blue-500 hover:bg-blue-600 text-white py-1 px-3 rounded">Unduh</a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>

                <!-- Tabel Dekripsi -->
                <h4 class="text-md font-semibold mt-6">Performa Dekripsi</h4>
                <div class="overflow-x-auto mt-2">
                    <table class="min-w-full border-collapse border border-gray-300 text-sm">
                        <thead>
                            <tr class="bg-gray-100">
                                <th class="border border-gray-300 p-2">Algoritma</th>
                                <th class="border border-gray-300 p-2">Entropi Sebelum</th>
                                <th class="border border-gray-300 p-2">Entropi Sesudah</th>
                                <th class="border border-gray-300 p-2">Waktu Dekripsi (detik)</th>
                                <th class="border border-gray-300 p-2">Kecepatan (KB/detik)</th>
                                <th class="border border-gray-300 p-2">Unduh</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for result in results_dec %}
                            <tr>
                                <td class="border border-gray-300 p-2">{{ result.algoritma }}</td>
                                <td class="border border-gray-300 p-2">{{ result.entropy_before|round(3) }}</td>
                                <td class="border border-gray-300 p-2">{{ result.entropy_after|round(3) }}</td>
                                <td class="border border-gray-300 p-2">{{ result.execution_time|round(3) }}</td>
                                <td class="border border-gray-300 p-2">{{ result.speed|round(3) }}</td>
                                <td class="border border-gray-300 p-2 text-center">
                                    <a href="/download/{{ result.processed_filename }}"
                                        class="bg-blue-500 hover:bg-blue-600 text-white py-1 px-3 rounded">Unduh</a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>

                <!-- Excel Export -->
                <div class="mt-2">
                    <h3 class="bg-blue-500 hover:bg-blue-600 text-white py-2 px-4 rounded">
                        File size <span id="filesize"></span>
                    </h3>
                </div>

                <div class="mt-4">
                    <button onclick="exportTableToExcel('xlsx')"
                        class="bg-green-500 hover:bg-green-600 text-white py-2 px-4 rounded">
                        Unduh Excel
                    </button>
                </div>

            </div>
            {% endif %}
        </div>
    </div>


</body>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const modeSelect = document.getElementById('mode');
        const algoritmaRadios = document.querySelectorAll('input[name="algoritma"]');
    
        algoritmaRadios.forEach(function (radio) {
            radio.addEventListener('change', function () {
                if (this.value === 'all_algoritma') {
                    // Ganti isi select mode
                    modeSelect.innerHTML = `
                        <option value="">Enkripsi dan Dekripsi</option>
                    `;
                } else {
                    // Kembalikan isi default select mode
                    modeSelect.innerHTML = `
                        <option value="enkripsi">Enkripsi</option>
                        <option value="dekripsi">Dekripsi</option>
                    `;
                }
            });
        });
    });
    </script>
    

<script>
    document.addEventListener("DOMContentLoaded", function () {
        // Sembunyikan loading saat halaman dimuat jika ada hasil
        {% if results %}
        document.getElementById("loading").classList.add("hidden");
        document.querySelector('button[type="submit"]').disabled = false;
        {% endif %}

        const keyInput = document.querySelector("input[name='key']");
        const form = document.querySelector("#form");
        const fileInput = document.querySelector("input[name='file']");
        const modeSelect = document.getElementById("mode")
        const loadingText = document.getElementById("loadingText");

        keyInput.addEventListener("input", function () {
            if (keyInput.value.length > 16) {
                alert("Key tidak boleh lebih dari 16 karakter!");
                keyInput.value = keyInput.value.slice(0, 16);
            }
        });

        form.addEventListener("submit", function (event) {
            if (keyInput.value.length < 16) {
                alert("Key harus tepat 16 karakter!");
                event.preventDefault();
                return;
            }

            // Ambil mode yang dipilih (enkripsi/dekripsi)
            const selectedMode = modeSelect.value === "enkripsi" ? "Enkripsi" : "Dekripsi";

            // Ambil algoritma yang dipilih
            const selectedAlgorithm = document.querySelector('input[name="algoritma"]:checked');
            console.log(selectedAlgorithm);
            let isAllAlgoritma = false;

            let algorithmName = "Tidak diketahui";
            if (selectedAlgorithm) {
                switch (selectedAlgorithm.value) {
                    case "aes_standard":
                        algorithmName = "AES Standar";
                        break;
                    case "Chacha20":
                        algorithmName = "ChaCha20";
                        break;
                    case "AES_Modified":
                        algorithmName = "AES Modifikasi";
                        break;
                    case "Mix":
                        algorithmName = "AESM + ChaCha20";
                        break;
                    case "all_algoritma":
                        isAllAlgoritma = true;
                        break;
                    default:
                        algorithmName = "Tidak diketahui";
                        break;
                }
            }

            // Buat teks loading dinamis
           if (isAllAlgoritma) {
                loadingText.textContent = "Memproses semua algoritma untuk enkripsi dan dekripsi, mohon tunggu...";
            } else {
                loadingText.textContent = `Memproses ${selectedMode} file dengan ${algorithmName}, mohon tunggu...`;
            }

            // Tampilkan animasi loading
            document.getElementById("loading").classList.remove("hidden");

            // Disable tombol submit untuk mencegah klik ganda
            form.querySelector('button[type="submit"]').disabled = true;
        });

        document.querySelectorAll('input[name="algoritma"]').forEach(function (radio) {
            radio.addEventListener('change', function () {
                if (this.value === "all_algoritma") {
                    form.action = "/all";
                } else {
                    form.action = "/proses";
                }
            });
        });
    });

    // perubahan nama
    const algorithmNameMap = {
        'AES Standar': 'AES Standar',
        'Chacha20': 'ChaCha20',
        'AES_Modified': 'AES Modifikasi',
        'Mix': 'AESM + ChaCha20'
    };

    // Mengambil data dari server data encrypt 
    const labels = {{ results | map(attribute = 'algoritma') | list | tojson }};
    // Data entropyBefore berisi nilai entropi sebelum pemrosesan
    const entropyBefore = {{ results | map(attribute = 'entropy_before') | list | tojson }};
    // Data entropyAfter berisi nilai entropi setelah pemrosesan
    const entropyAfter = {{ results | map(attribute = 'entropy_after') | list | tojson }};
    // Data executionTime berisi waktu eksekusi (duplikat dengan execution_time)
    const executionTime = {{ results | map(attribute = 'execution_time') | list | tojson }};
    // Data execution_time berisi waktu eksekusi
    const execution_time = {{ results | map(attribute = 'execution_time') | list | tojson }};
    // Data speed berisi kecepatan algoritma (dalam KB/detik)
    const speed = {{ results | map(attribute = 'speed') | list | tojson }};

    // Dekrip
    const labels_dec = {{ results_dec | map(attribute = 'algoritma') | list | tojson }};
    const entropyBefore_dec = {{ results_dec | map(attribute = 'entropy_before') | list | tojson }};
    const entropyAfter_dec = {{ results_dec | map(attribute = 'entropy_after') | list | tojson }};
    const executionTime_dec = {{ results_dec | map(attribute = 'execution_time') | list | tojson }};
    const speed_dec = {{ results_dec | map(attribute = 'speed') | list | tojson }};
    console.log(labels_dec);

    // Membuat chart untuk entropi sebelum dan sesudah menggunakan library Chart.js
    new Chart(document.getElementById('chartEntropy'), {
        type: 'line',
        data: {
            labels: labels, // Label sumbu X adalah daftar algoritma
            datasets: [
                {
                    label: 'Entropi Sebelum', // Label untuk data entropi sebelum
                    data: entropyBefore, // Data entropi sebelum
                    borderColor: 'orange', // Warna garis oranye
                    fill: false, // Tidak mengisi area di bawah garis
                },
                {
                    label: 'Entropi Sesudah', // Label untuk data entropi sesudah
                    data: entropyAfter, // Data entropi sesudah
                    borderColor: 'green', // Warna garis hijau
                    fill: false, // Tidak mengisi area di bawah garis
                }
            ]
        },
        options: {
            plugins: {
                title: {
                    display: true, // Menampilkan judul chart
                    text: 'Entropi Sebelum & Sesudah Enkripsi' // Teks judul chart
                }
            },
            scales: {
                y: {
                    beginAtZero: true // Mulai sumbu Y dari nol
                }
            }
        }
    });

    // Membuat chart untuk waktu eksekusi menggunakan library Chart.js
    new Chart(document.getElementById('waktu'), {
        type: 'line', // Tipe chart adalah garis
        data: {
            labels: labels, // Label sumbu X adalah daftar algoritma
            datasets: [{
                label: 'Waktu', // Label untuk data waktu
                data: execution_time, // Data waktu eksekusi
                backgroundColor: 'red' // Warna garis merah
            }]
        },
        options: {
            plugins: {
                title: {
                    display: true, // Menampilkan judul chart
                    text: 'Waktu Enkripsi' // Teks judul chart
                }
            },
            scales: {
                y: {
                    beginAtZero: true // Mulai sumbu Y dari nol
                }
            }
        }
    });

    // Membuat chart untuk kecepatan algoritma menggunakan library Chart.js
    new Chart(document.getElementById('chartSpeed'), {
        type: 'line', // Tipe chart adalah garis
        data: {
            labels: labels_dec, // Label sumbu X adalah daftar algoritma
            datasets: [
                {
                    label: 'Kecepatan (KB/detik)', // Label untuk data kecepatan
                    data: speed, // Data kecepatan
                    backgroundColor: 'skyblue' // Warna garis biru langit
                },
            ]
        },
        options: {
            plugins: {
                title: {
                    display: true, // Menampilkan judul chart
                    text: 'Kecepatan Enkripsi' // Teks judul chart
                }
            },
            scales: {
                y: {
                    beginAtZero: true // Mulai sumbu Y dari nol
                }
            }
        }
    });


    // Grafik Dekripsi
    new Chart(document.getElementById('chartEntropyDecrypt'), {
        type: 'line',
        data: {
            labels: labels_dec,
            datasets: [
                {
                    label: 'Entropi Sebelum Dekripsi',
                    data: entropyBefore_dec,
                    borderColor: 'purple',
                    fill: false,
                },
                {
                    label: 'Entropi Sesudah Dekripsi',
                    data: entropyAfter_dec,
                    borderColor: 'teal',
                    fill: false,
                }
            ]
        },
        options: {
            plugins: {
                title: {
                    display: true,
                    text: 'Entropi Sebelum & Sesudah Dekripsi'
                }
            },
            scales: {
                y: {
                    beginAtZero: true // Mulai sumbu Y dari nol
                }
            }
        }
    });

    // Grafik Waktu Dekripsi
    new Chart(document.getElementById('chartTimeDecrypt'), {
        type: 'line',
        data: {
            labels: labels_dec,
            datasets: [{
                label: 'Waktu Dekripsi',
                data: executionTime_dec,
                backgroundColor: 'orange',
                borderColor: 'orange',
                fill: false
            }]
        },
        options: {
            plugins: {
                title: {
                    display: true,
                    text: 'Waktu Dekripsi'
                }
            },
            scales: {
                y: {
                    beginAtZero: true // Mulai sumbu Y dari nol
                }
            }
        }
    });

    // Grafik Kecepatan Dekripsi
    new Chart(document.getElementById('chartSpeedDecrypt'), {
        type: 'line',
        data: {
            labels: labels_dec,
            datasets: [{
                label: 'Kecepatan Dekripsi (KB/detik)',
                data: speed_dec,
                backgroundColor: 'lightgreen',
                borderColor: 'lightgreen',
                fill: false
            }]
        },
        options: {
            plugins: {
                title: {
                    display: true,
                    text: 'Kecepatan Dekripsi'
                }
            },
            scales: {
                y: {
                    beginAtZero: true // Mulai sumbu Y dari nol
                }
            }
        }
    });

    const filesizeKB = {{ file_size | tojson }};
    console.log("Ukuran file:", filesizeKB);
    let displaySize = "";
    if (filesizeKB >= 1024) {
        // Jika ukuran lebih dari atau sama dengan 1MB
        const sizeMB = filesizeKB / 1024;
        displaySize = sizeMB.toFixed(2) + " MB";
    } else {
        // Jika ukuran kurang dari 1MB
        displaySize = filesizeKB.toFixed(2) + " KB";
    }
    // Menampilkan di elemen HTML (jika perlu)
    document.getElementById("filesize").textContent = displaySize;
</script>

{% if file_size %}
<script>
    const filesizeKB = {{ file_size | tojson }};  // ukuran dalam KB
    console.log("size", filesizeKB);
    
    

    // function exportTableToExcel(type = 'xlsx') {
    //     // Ambil kedua tabel
    //     const enkripsiTable = document.querySelectorAll('table')[0];
    //     const dekripsiTable = document.querySelectorAll('table')[1];

    //     // Buat workbook dan worksheet
    //     const wb = XLSX.utils.book_new();

    //     // Enkripsi
    //     const wsEnkripsi = XLSX.utils.table_to_sheet(enkripsiTable, { raw: true });
    //     XLSX.utils.book_append_sheet(wb, wsEnkripsi, "Performa Enkripsi");

    //     // Dekripsi
    //     const wsDekripsi = XLSX.utils.table_to_sheet(dekripsiTable, { raw: true });
    //     XLSX.utils.book_append_sheet(wb, wsDekripsi, "Performa Dekripsi");

    //     // Unduh
    //     XLSX.writeFile(wb, Performa_Enkripsi_Dekripsi_file_${displaySize.replace(" ", "_")}.xlsx);
    // }
</script>
{% endif %}

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const fileInput = document.querySelector('input[name="file"]');

        fileInput.addEventListener('change', function () {
            const file = this.files[0];  // Ambil file pertama yang dipilih
            if (file) {
                const fileSizeKB = file.size / 1024;
                let displaySize = "";

                if (fileSizeKB >= 1024) {
                    const sizeMB = fileSizeKB / 1024;
                    displaySize = sizeMB.toFixed(2) + " MB";
                } else {
                    displaySize = fileSizeKB.toFixed(2) + " KB";
                }

                console.log("Ukuran file:", displaySize);

                // Contoh: menampilkan di halaman
                const infoElement = document.getElementById("file-info");
                if (infoElement) {
                    infoElement.textContent = "Ukuran file: " + displaySize;
                }
            }
        });
    });
</script>


</html>